* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gemunu Libre", sans-serif;
  background-color: #da8f05;
}

.header {
  width: 100%;
  z-index: 1;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(82, 82, 78);
}

.dataPeople {
  margin-top: 180px;
}
